<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/partials/style_footer.css">
    <link rel="stylesheet" href="../styles/partials/style_header.css">
    <link rel="stylesheet" href="../styles/style_detalles.css">


    <title>
        <%=datos.titulo%>
    </title>
</head>

<body>

    <%- include("partials/header.ejs")%>


        <article id="articulo">

            <div class="cabezera_interna">
                <div class="nav_inter">
                    <a href="/">Inicio</a>
                    <a href="/autores">Autores</a>

                    <% if(usuario_registrado){ %>

                        <a href="http://localhost:8080/admin/index" id="mi_cuenta">Mi cuenta</a>
                        <p id="usuario"><%= usuario_registrado%></p>
                        <p id="separador">|</p>
                        <a id="salir" href="/cerrar_seccion">Cerrar sesion</a>
                    <%}%>



                        <div class="contenedor_publicado_por">
                            <p id="publicado_por">Blog publicado por: <a id="autor" href="/autores"><%=datos.pseudonimo%></a></p>
                            <%if(datos.avatar){%>
                                <img src="/avatars/<%=datos.avatar%>" class="img_user">
    
                            <%}else{%>
                                <img src="/images/usuario.png" class="img_user">                                
                            <%}%>                                                        
                        </div>

                    <div class="votos">
                        <p> Votos <strong>:</strong> <%=datos.votos%></p>
                        <p> Votar (+1)</p>
                        <a href="/votar_publicacion?id=<%= datos.id_publicacion %>"><img src="/icons/thumbs-up.svg" ></a>
                        
                    </div>

                </div>



            </div>

            <div class="container_1">

                <h1><%= datos.titulo%></h1>
                 <%-datos.contenido%>

            </div>


        </article>







        <%- include("partials/footer.ejs")%>

</body>
<script src="../javascripts/style_header.js"></script>

</html>