<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/partials/style_footer.css">
    <link rel="stylesheet" href="../styles/partials/style_header_interno.css">
    <link rel="stylesheet" href="../styles/partials/style_header.css">
    <link rel="stylesheet" href="../styles/style_detalles.css">


    <title>
        <%=datos.titulo%>
    </title>
</head>

<body>

    <%- include("partials/header.ejs")%>


        <article id="articulo">
          <%- include("partials/header_interno.ejs") %>

                        <div class="author_cont">

                            <div class="publicado_por">
                                <div>
                                <p >Blog publicado por: <a id="autor" href="/autores"><%=datos.pseudonimo%></a></p>
                                <%if(datos.avatar){%>
                                    <img src="/avatars/<%=datos.avatar%>" class="img_user">

                                <%}else{%>
                                    <img src="/images/usuario.png" class="img_user">
                                <%}%>
                              </div>
                            </div>

                            <div class="votos">
                              <div>
                                <p> Votos <strong>:</strong> <%=datos.votos%></p>
                                <p> Votar (+1)</p>
                                <a href="/votar_publicacion?id=<%= datos.id_publicacion %>"><img src="/icons/thumbs-up.svg" ></a>
                              </div>
                            </div>

                        </div>



                      <div class="container_1">
                          <h1><%= datos.titulo%></h1>
                           <%-datos.contenido%>
                      </div>


        </article>







        <%- include("partials/footer.ejs")%>

</body>
<script src="../javascripts/style_header.js"></script>

</html>
