<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/partials/style_header.css">
        <link rel="stylesheet" href="styles/partials/style_header_interno.css">
        <link rel="stylesheet" href="styles/partials/style_footer.css">
        <link rel="stylesheet" href="styles/style_index.css">
        <title>Bienvenido</title>
    </head>

    <body>

        <%- include("partials/header.ejs")%>

        <article id="articulo">

          <%- include("partials/header_interno.ejs") %>

          <div class="titulo_principal">
              <%if(!datos.length){%>
                      <h1>! No se encontraron resultados !</h1>
              <%}else{%>
                      <h1> Bienvenido </h1>
                  <%}%>
          </div>


            <% for(var i=0 ;datos.length > i  ;i++ ) {%>
            <div class="container_article ">
                <% if(datos[i].avatar && datos[i].avatar !=""){  %>

                    <div class="container_1">
                        <img src="avatars/<%=datos[i].avatar%>" alt="" class="imagen_user">
                    </div>


               <% }else{  %>

                    <div class="container_1">
                        <img src="images/usuario.png" alt="" class="imagen_user">
                    </div>
                <%}%>

                <div class="container_2">
                    <div class="titulo"><h1><a  href="/detalles?public_id=<%= datos[i].id %> "><%= datos[i].titulo%></a></h1></div>
                    <div class="resumen">
                        <%=datos[i].resumen%>
                    </div>
                </div>

                <div class="container_3">
                    <div>
                        <h3>Autor:</h3>
                        <p><%=datos[i].pseudonimo%></p>
                    </div>

                    <div>
                        <h3>Fecha:</h3>
                            <div>
                                <%=datos[i].fecha_hora.getDate()%>/
                                <%=datos[i].fecha_hora.getMonth()+1%>/
                                <%=datos[i].fecha_hora.getFullYear()%>
                            &nbsp;
                                <%= datos[i].fecha_hora.getHours()%>
                                <strong>:</strong>
                                <%=datos[i].fecha_hora.getMinutes()%>
                            </div>

                    </div>

                    <div>
                        <img src="icons/thumbs-up.svg" alt="">
                        <p>( <%=datos[i].votos%> )</p>
                    </div>


                </div>

        </div>
            <% }%>







                <div class="cabezera_interna_inf">

                    <div class="nav_inter_inf">

                        <%if(pagina_actual == 0 && datos.length >= 5 ){ %>

                        <%}   else if(pagina_actual > 0){   %>
                            <a href="/?pagina=<%= pagina_anterior %> ">Anterior</a>
                        <%}%>

                        <%if(datos.length == 5 ){%>
                            <a href="/?pagina=<%= pagina_siguiente %> ">Siguiente</a>

                        <%}%>

                    </div>
                </div>




        </article>

        <%- include("partials/footer.ejs")%>

    </body>
    <script src="javascripts/style_header.js"></script>
</html>
